/*
* @spoty green: #2FD565
*/

/*--------------------------------------------*/
/* BASIC SETUP */
/*--------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

::-moz-selection {
    background: #2FD565;
    color: #fff;
}

::selection {
    background: #2FD565;
    color: #fff;
}

/*--------------------------------------------*/
/* REUSABLE COMPONENTS */
/*--------------------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0
}

/* ---- HEADINGS ---- */


h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
    
}

h1:after {
    display: block;
    height: 2px;
    background-color: #2FD565;
    content: "";
    width: 125px;
    margin: 0 auto;
    margin-top: 30px;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 240%;
    color: #fff;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    text-align: center;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #2FD565;
    content: "";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/* ---- PARAGRAPHS ---- */



/* ---- ICONS ---- */

.icon-big {
    font-size: 350%;
    display: block;
    color: #2FD565;
    margin-bottom: 10px;
    text-align: center;
}

/*--------------------------------------------*/
/* HEADER */
/*--------------------------------------------*/

header {
    background-image:  -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) ,url(img/hero.jpeg);
    background-image:  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) ,url(img/hero.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}


.hero-text {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.hero-text h1,
.hero-text h3 {
    text-align: center;
}

.hero-text h3 {
    color: #2FD565;
}

.hero-text h3 span {
    color: #fff;
    font-weight: 100;
}

.m-b {
    font-size: 300%;
    color: #fff;
    float: left;
    margin-top: 30px
}

.m-b span{
    font-weight: 600;
    color: #2FD565;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 60px;
    padding-right: 1%;
}

.main-nav li {
    display: inline-block;
    margin-left: 55px;
}

.main-nav li a:link, 
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 110%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
}

.main-nav li a:active, 
.main-nav li a:hover {
    border-bottom: 2px solid #2FD565;
}

/*--------------------------------------------*/
/* GITHUB PROJECTS */
/*--------------------------------------------*/


.project-desc {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    text-align: center;
    font-size: 145%;
    padding-bottom: 3%
}

.proj-box {
    background-color: #f4f4f4;;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 5px 4px #c9c9c9;
}

.proj-box a,
.proj-box a {
    text-decoration: none;
    color: #555;
}

.proj-box p {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
    text-align: center;
}

.name {
    color: #2FD565;
}